/* start nav styling */
/* .container-fluid{
  background-color: black;
  height: 40px;

} */
.navContainer{
  display: flex;
  flex-direction: row;
  margin-right: 0;


}

.nav-links-container{
    justify-content : flex-end;
    float:right;

}
.nav-Links{
  color:#e12d98;
  fontSize: 36;
}

.menu-Icon{
  display: none;
  float: right;
}
/* end nav styling */
